@{
    
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
</head>
<section class="content-wrapper main-content clear-fix">
    <div class="row">
        <section class="col-lg-2 col-md-2">
            <ul id="side-filter">
                @foreach (var Spec in (new IVA.Models.IVADBEntities()).tbl_Specs)
                {  
                    
                    
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <span class="glyphicon glyphicon-camera"></span>&nbsp;@Spec.Name  
                        </a>
                        @foreach (var Specitem in Spec.tbl_Spec_items)
                        { <a href="#" class="list-group-item">
                           <input type="checkbox" class="filter-check" data-specid="@Specitem.ID" />  <span class="glyphicon glyphicon-file"></span>&nbsp;@Specitem.Name @*<span class="badge">145</span>*@
                         </a>
                        }

                    </div> 
                  
                }
            </ul>

        </section>
        <section class="col-lg-10 col-md-10">

            @foreach (var item in (new IVA.Models.IVADBEntities()).tbl_Products)
            {


                var productItems = item.tbl_Product_Images.Where(pi => pi.IsDefault == true);
                ViewBag.src = "";
                if (productItems != null)
                {
                    var productImage = productItems.FirstOrDefault();
                    if (null != productImage)
                    {
                        ViewBag.src = productImage.ImagePath;
                    }
                }
                    
                <div class="item  col-xs-3 col-lg-3 grid-group-item">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="@ViewBag.src" alt="">
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                
                                @Html.ActionLink(item.Name,"Details","products",item.ID ,null)
                                </h4>
                            <p class="group inner list-group-item-text">
                                Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        @item.OurRate.ToString("0.00")
                                    </p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            }
        </section>
    </div>
</section>
<style>
     
        .list-group-image {
            width: 150px;
            height: 100px;
        }
    .content-wrapper {width:auto;max-width:none;
    }
</style>
