@model IVA.Models.tbl_Products
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Create</h2>
@using (Html.BeginForm("Create", "Products", null, FormMethod.Post, new { @role = "form" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbl_Products</legend>
        <div class="form-group  col-md-12">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group  col-md-6">
            @Html.LabelFor(model => model.Rate)
            <div class="input-group">
                @Html.TextBoxFor(model => model.Rate, new { @class = "form-control" })
                <div class="input-group-addon">
                    AED</div>
            </div>
            @Html.ValidationMessageFor(model => model.Rate)
        </div>
        <div class="form-group  col-md-6">
            @Html.LabelFor(model => model.OurRate)
            <div class="input-group">
                @Html.TextBoxFor(model => model.OurRate, new { @class = "form-control" })
                <div class="input-group-addon">
                    AED</div>
            </div>
            @Html.ValidationMessageFor(model => model.OurRate)
        </div>
        <div class="form-group  col-md-6">
            @Html.LabelFor(model => model.Stock)
            @Html.TextBoxFor(model => model.Stock, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Stock)
        </div>
        <div class="clear-fix">
        </div>
        <div class="form-group  col-md-6">
            <button type="submit" value="Create" class="btn btn-success">
                Create</button>
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
